@model CarsLocation.Models.CategoriesModel

@{
    ViewData["Title"] = "DetailCategory";
     Layout="_LayoutAdmin";
}

<h1>DetailCategory</h1>

<div>
    <h4>CategoriesModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageSrc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageSrc)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
